@page
@model IndexModel
@{
    ViewData["Title"] = "Bio Plants";
}

<div class="text-center">
    <a class="display-4 nav-link text-dark" asp-page="/Store/Index">Bio Plants</a>
    <p>Sua vida mais verde</p>
</div>

<div class="text-center">
    <a asp-page="/Store/Index"><img src="~/images/brand.png" alt="Bio Plants" /></a>
</div>