<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="color:black">Que Planta é esse?</h3>
                    <div style="color:black">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Dracaena Marginata</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Monstera Deliciosa</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Calathea Orbifolia</label>
                        </div>
                    </div>
                </div>
                <img class="d-block w-100" data-src="holder.js/100x50?auto=yes&amp;bg=333&amp;fg=111&amp;text=First slide" alt="First slide [300x200]" src="/images/SansevieriaLaurentii2.png" data-holder-rendered="true">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="color:black">Que Planta é esse?</h3>
                    <div style="color:black">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Dracaena Marginata</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Monstera Deliciosa</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Calathea Orbifolia</label>
                        </div>
                    </div>
                </div>
                <img class="d-block w-100" data-src="holder.js/100x50?auto=yes&amp;bg=333&amp;fg=111&amp;text=Second slide" alt="Second slide [300x200]" src="/images/dracaena_marginata.png" data-holder-rendered="true">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
