@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Que Planta é esse?</h3>
                    <p></p>
                </div>
                <img class="d-block w-100" data-src="holder.js/100x50?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [300x200]" src="/images/SansevieriaLaurentii2.png" data-holder-rendered="true">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Que Planta é esse?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img class="d-block w-100" data-src="holder.js/100x50?auto=yes&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide [300x200]" src="/images/dracaena_marginata.png" data-holder-rendered="true">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
